<section>
    <div>
        <div>
            <div class="row alert alert-info" role="alert">
                <div class="col-md-2"><img class="profile-picture rounded" src="https://randomuser.me/api/portraits/men/{{profiles[indexId].id}}.jpg"></div>
                <div class="col-md-10"> <strong>Name</strong>
                    <p class="text-muted">{{profiles[indexId].full_name}}</p> <strong>Location</strong>
                    <p class="text-muted"> {{profiles[indexId].hometown_country}}
                        <br/> {{profiles[indexId].hometown_state}}
                        <br/> {{profiles[indexId].hometown_city}} </p>
                </div>
            </div>
        </div>
        <div>
            <ng-map zoom="11" center="[{{profiles[indexId].lat}}, {{profiles[indexId].lng}}]">
                <marker position="[{{profiles[indexId].lat}}, {{profiles[indexId].lng}}]" />
                <shape name="circle" radius="400" center="[{{profiles[indexId].lat}}, {{profiles[indexId].lng}}]" radius="4000" />
                <control name="overviewMap" opened="true" /> </ng-map>
        </div>
        <br/>
        <a class="btn btn-default" href="index.html#!/list" role="button">
            <span class="glyphicon glyphicon-menu-hamburger"></span> Back To List</a>
    </div>
</section>